{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Station 1
  </h3>
  <p>
    Weather Top Station Assignment 2
    <br>Sign up and log your own weather reports.
    <br>View previous weather reports which will be saved for future logins<br>
    <br> Auto Generate weather readings in real time
    <br> See location of Weather Stations on Map
    
    <br>Created by Grace Doyle
  </p>
   <img class="ui image" src="/public/images/incredible.jpg">
</section>